

body{
font-family: 'Roboto',sans-serif;


}

a{
  text-decoration: none;
  color: inherit;
}

.mastro{
  padding: 2vh;
  margin-bottom: 7vh;
  margin-top: 4vh;
}
/* ImmagineHead */
.imageProfile{

  overflow: hidden;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  padding:0px;
  border-radius:0px 0px 30px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image:url("img/ricetta.jpg");
  height: 40vh;

}
.imageProfile img {
width: 100%;
object-position: 50% 100%;
flex-shrink:auto;
align-items: center;
display: flex;
overflow: hidden;
}
.imageProfile3{
  overflow: hidden;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  padding:0px;
  border-radius:0px 0px 30px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image:url("img/listachef.jpg");
  height: 40vh;

}
.imageProfile2 {

  overflow: hidden;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  padding:0px;
  border-radius:0px 0px 30px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  background-image:url(" imgchef/cracco.jpg");
  height: 40vh;


}
.imageProfile4 {

  overflow: hidden;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  padding:0px;
  border-radius:0px 0px 30px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  background-image:url("img/home.jpg");
  height: 40vh;


}

.imageProfile2 img {
width: 100%;
transform: scale(1.3);
object-position: 50% 50%;
flex-shrink:auto;
align-items: center;
display: flex;
overflow: hidden;
}


/* Ricette */
.ricettaProfile{
  background-color:white;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin:0px;
  padding:2vh;
  margin-top:3vh;

}

.profileContainer{
  width: 100vh;
  height: 80vh;
  background-color:green;
  padding:0px;

}

.titolo{
  max-height: 20%;
  color: black;
  font-weight: 100;

  font-weight: 900;
  font-size: 30px;



}

.arrow{
padding-bottom: 35vh;



}

.arrow2{
padding-left: 2vh;
padding-top: 2vh;
}
.ind{
  padding-right: 25vh;
  padding-top: 25vh;
  text-align: center;
  color: white;
  text-shadow:0 5px 15px rgba(0,0,0,0.8);

}
.indP{
  padding-right: 32vh;
  padding-top: 25vh;
  text-align: left;
  color: white;
  text-shadow:0 5px 15px rgba(0,0,0,0.8);

}
.sottotitolo{
  max-height: 10%;
  color: black;
  padding-bottom:2vh;
  font-weight: 100;
  text-align:left;
}
.sottotitolo{
  color: black;

font-weight: lighter;
}

.componentChatBase{
  position: center;
  padding-right: 5vh;
  display: flex;
}
.s1, .s2, .s3 {

  min-height: 50px;
  margin:10px;
  display:inline-block;
  vertical-align: center;

  text-align: center;
  padding:0;


}
.s1{

width: 40px;
padding:2vh;
margin-right:5vh;
}
.s1 h2{
  color: black;
  font-size: 30px;

}

.s2{
padding:2vh;
width: 40px;
margin-right:5vh;
}

.s2 h2{
  color: black;
  font-size: 30px;


}
.s3{
padding:2vh;
width: 40px;
margin-right:5vh;
}
.s3 h2{
color: black;
font-size: 30px;


}

.description p{
  color: black;

font-weight: lighter;
}

.ingredienti h3{
  color: black;
  font-size: 18px;
  padding: 1vh 0vh 0vh 0vh;
  width: 100%;
  text-align: left;

}


.preparazione h3{
  color: black;
  font-size: 18px;
  padding:2vh;

}

.time h5 {
  color: black;
  font-size: 10px;
  text-align: center;
}
.dropdown{

 align-items: center;
 border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
  opacity:0.2;
  padding;
  margin-top: 0vh;
  margin-bottom: 2vh;

}

 .categorie {
  font-size: 16px;
  letter-spacing: 0.3vh;
  color: #f7ba21;
  padding-bottom: 1vh;
  font-weight:900;
}
.categorie2 {
 font-size: 18px;
 letter-spacing: 0.3vh;
 color: #f7ba21;
 padding-bottom: 1vh;
  padding-top: 6vh;

}



/* Form / imageForm */

.profile-header-container{
padding:0;


}

.profile-header-img {
  padding-left: 8vh;
  padding-top: 5vh;
  position: relative;


}

.img-circle {

    border: 9px solid #f7ba21;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;

}

.img-circle img{
 width: 100%;
height: auto;
}


.rank-label-container {
    margin-top: -25px;
    /* z-index: 1000; */
    text-align: center;
    padding-left: 9vh;


}


.rank-label{
  border-radius: 50%;
  background-color:#f7ba21;
  color: white;
  padding: 2.5px 12.5px ;
  font-size: 30px;



}

.form-check-label{
  padding:1.5vh;
}
.sesso{
  padding-left: 1vh;
}

.format{
width: 100%;

}
.container-fluid{
  margin:0;

}
.contact-form{
  display: flex;
  max-width:auto;
  margin: 0;
  border-radius: 0.1px;

}

.input-fields{
  display: flex;
  flex-direction: column;

}
.format,.col{
  padding: 0;
  margin:0;
}
.input-fields,
.msg{
  width: 100%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  width: 100%;



}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color:black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}

.btn {
    background: #f7ba21;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 3vh;



}
.form-control{
  border-color: white;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}

/* Head/searchbar */
.search{
  padding-left: 4vh;
  padding-right: 4vh;
  padding-bottom: 3vh;

}

.head{

  padding-bottom: 2vh;
  text-align: center;

  padding:1vh;


}
.headCrea{

  padding-bottom: vh;
  text-align: center;

  padding-top:5vh;


}

.head h3{

color: #f7ba21;
text-shadow:0 5px 15px rgba(0,0,0,0.8);
}
.head p{
letter-spacing: 0.8px;
color: #3E3E3E;
text-shadow:0 5px 15px rgba(0,0,0,0.8);
font-weight: 300;
}

/* Crad component */
.cardmargin{
  margin-top: 2vh;

}


.cardcontainer{
background-color: white;
border-radius: 5px;
overflow: hidden;
border: 0px solid #C6C6C6;
box-sizing: border-box;
padding-top:2vh;

}



.piccontainer{

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 12vh;
    max-height:12vh;
    border-radius:20px;



}

.textcontainer{
  margin-top: 2vh;
  padding-left: 4vh;

}
.textcontainer2{
  padding-bottom:2vh;
  padding-left: 4vh;

}

.cardtitle {

  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top:-5px;
  letter-spacing: 0.5px;
  padding-bottom:4vh;


}

.cardtitle2 {


  font-size: 30px;
  line-height: 24px;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top:-5px;
  letter-spacing: 0.5px;
  padding-bottom:2vh;

color: #f7ba21;

}
.cardtitle3 {


  font-size: 30px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 1vh;
  letter-spacing: 0.5px;


color: black;

}



.cardsubtitle{
  font-size: 16px;
  line-height: 18px;
/* identical to box height, or 171% */
  letter-spacing: 0.1px;
  overflow: hidden;
  padding-left: 2vh;
  padding-right: 2vh;
   font-weight: lighter;
   padding-bottom: 1vh;


}

.cardsubtitle2 {
  font-size: 16px;
  line-height: 18px;
/* identical to box height, or 171% */
  letter-spacing: 0.1px;
  overflow: hidden;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 2vh;
}
.feed{
  padding-left: 2vh;
  padding-right: 2vh;


}
.piccontainer img{
flex-shrink: 0;
  height: auto;
  width:100%;

}


.responsive-img{
max-width: 100%;
height: auto;
transform: scale(2.0);
overflow: hidden;

}

.piccontainer img{
flex-shrink: 0;
  height: auto;
  width:100%;

}


.responsive-imgoption{
max-width: 100%;
height: auto;
transform: scale(1.5);
overflow: hidden;
}
.fa-star{
  color: #F4AC45;

}

.input{
  font-size: 18px;

}


/* navbar */
.nav{
  background-color: white;
  height: 7vh;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
/* icon */
.fas{
 font-size: 3vh;
 padding-right:2vh;
 margin-top: 1vh;
 color:#f7ba21;
}
.fas:hover {
  opacity: 0.7;
  color:black;
}
.fa-li{
  color:#f7ba21;
}
